---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

    <div style="background-image: url(images/city/index-bg.jpg);">      
          <div class="col-md-12 text-center">
          
            <h1 data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in=".1">RECOMB 2026</h1>
            <h2>THESSALONIKI, GREECE</h2>
          
            <!-- <br> -->
          
            <h3>May 26 - 29, 2026</h3>
            <!-- <br><br> -->

            <p data-duration-in="1" data-animation-in="fadeInDown" data-delay-in=".5">
              Stay tuned <a href="https://twitter.com/search?q=%23RECOMB2026" target="blank" style="color:white;font-weight: bold;text-decoration: underline;">#RECOMB2026</a>
              <br>
              Twitter <a href="https://twitter.com/RECOMBconf" target="blank" style="color:white;font-weight: bold;text-decoration: underline;">@RECOMBconf</a>
  	        Bluesky <a href="https://bsky.app/profile/recombconf.bsky.social" target="blank" style="color:white;font-weight: bold;text-decoration: underline;">@RECOMBconf</a>  
            </p>

            <!-- <br> -->

            <p style="color:white;font-weight: bold;">Satellite Meetings: May 24-25, 2026</p>
  <!--		  <p style="color:white;">15% Discount for ISCB Members
  			<br> Not a member yet? <a href="https://www.recomb2025.com/html/?pmode=main&kind=reg" target="blank" style="color:white;text-decoration: underline;">Join now</a> to unlock this offer. 
-->
			
        </div>
      </div>


  {{ content }}

</div>
